.complete {
  text-decoration: line-through;
}

body{
  padding: 25px;
  background-color: grey;
}

h1{
  font-family: 'Train One', cursive;
}

h1 button{
  font-family: Arial, Helvetica, sans-serif;
}

ol{
  width:500px
}

li div{
  float:right;
}

.form-control-xs {
  height: calc(1em + .375rem + 2px) !important;
  width: 250px;
  display: inline-block;
  padding: .125rem .25rem !important;
  font-size: .75rem !important;
  line-height: 1.5;
  border-radius: .2rem;
}

.priority1 {
  font-weight: bolder !important;
color: red !important;
}

.priority2{
  font-weight: bolder;
  color:rgb(194, 194, 1)
}

.priority3{
  font-weight: bold;
  color:rgb(65, 173, 3);
}

.priority3{
  color:rgb(69, 2, 224);
}

.priority3{
  color:rgb(0, 0, 0);
}

.switchContainer{
  display: flex;
  flex-direction: row;
  width: 450px;
}

.switchContainer > div{
  flex: 1;
}
